.btn-spin {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  margin-right: .5em;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  *zoom: 1;
}