<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SPOMECS</title>
	<meta name="author" content="john.garza@utsa.edu">
  <link rel="stylesheet" href="css/bootstrap.css">
  <style type="text/css">
    body {
      padding-top: 60px;
    }
	.show-grid [class*="span"] {
	background: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 1px;
	min-height: 20px;
	line-height: 25px;
	}
  </style>
  <link rel="stylesheet" href="css/bootstrap-responsive.css">
  <link rel="stylesheet" href="css/spomecs.css">
  <link rel="stylesheet" href="css/smoothness/jquery-ui-1.8.14.custom.css">
</head>

<body>
<!-- topbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container-fluid">
	      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="brand" href="#">SPOMECS</a>
		<div id="nav-display">
		</div>
	      <div class="nav-collapse collapse">
	        <ul class="nav">
				<li class="active" id="setup"><a href="#setup">Setup</a></li>
	        </ul>
	      </div><!--/.nav-collapse -->
	    </div>
	  </div>
	</div><!-- end navbar -->

<!-- Request Form App Interface -->
<div class="activity" style="z-index:40;"></div>
<div class="container-fluid">

	<!-- html node where our main app content is inserted with underscore template results -->
	<div id="content"></div>
	<!-- currently unused, potential response div block -->

	<!-- todo modal dialog placeholder -->
	<div id="todo-modal-container"></div>

	<!-- setup modal dialog placeholder -->
	<div id="setup-modal-container"></div>

</div>

<!-- Templates -->
<!--
/************************************/
/**	NavDisplay Container Template     **/
/************************************/
-->
<script type="text/template" id="NavDisplayView">
	<a id="prev" href="#generate/<%= sp_query %>/<%= pv_dt %>" class="brand">&laquo;</a>
	<a id="today" href="#generate/<%= sp_query %>/<%= st_dt %>" class="brand"><%= st_dt_pretty%></a>
	<a id="next" href="#generate/<%= sp_query %>/<%= nx_dt %>" class="brand">&raquo;</a>
</script>

<!--
/************************************/
/**	DataItem Container Template     **/
/************************************/
-->
<script type="text/template" id="ItemView">
<% var current_state = {
	"1" : "In Progress",
	"2" : "Complete",
	"3" : "Declined",
	"99" : "Cancelled"
}%>
<% if (showHeader) { %>
	<tr><td colspan="12">
	<div class="row-fluid">
		<div class="span12">
		<h4><%= date_print(reservation_start_dt._text) %></h4>
		</div>
	</div>
	</td></tr>
<% } %>
<tr class="data_<%=reservation_id._text%>">
	<th class="highlight reload" id="<%=reservation_id._text%>">Ref #</th>
	<th>Setup</th>
	<th>Client</th>
	<th colspan="2">Event</th>
	<th>Client</th>
	<th>Tear</th>
	<th colspan="2"> Room - Layout - (Count)</th>
	<th colspan="3">Organization</th>
</tr>
<tr>
	<td class="row_collapse" id="data_<%=reservation_id._text%>"><%= event.event_locator._text %></td>
	<td><%= time_print(reservation_start_dt._text) %></td>
	<td><%= time_print(pre_event_dt._text) %></td>
	<td colspan="2" class="highlight"><%= time_print(event_start_dt._text) %> - <%= time_print(event_end_dt._text) %></td>
	<td><%= time_print(post_event_dt._text) %></td>
	<td><%= time_print(reservation_end_dt._text) %></td>
	<td colspan="2"><b>
	<% if (space_reservation) {%>
		<% if (_.isArray(space_reservation)) {%>
			<% _.each(space_reservation, function(sp) { %>
				<span><%= sp.space.formal_name._text %> - <%= sp.layout_name._text %> (<%= expected_count._text %>)</span><br/>
                      <% if (sp.space_instructions._text) { %>
                      <span><%= sp.space_instructions._text %></span><br/>
                      <% } %>
			<% }); %>
		<% } else { %>
			<span><%= space_reservation.space.formal_name._text %> - <%= space_reservation.layout_name._text %> (<%= expected_count._text %>)</span><br/>
                <span><%= space_reservation.space_instructions._text %></span>
		<% } %>
	<% } %>
	</b></td>

	<td colspan="3">
	<% if (event.organization) { %>
		<% if (_.isArray(event.organization)) { %>
			<% _.each(event.organization, function(org) { %>
				<span><%= org.organization_name._text %></span>
			<% }); %>
		<% } else { %>
			<%= event.organization.organization_name._text %>
		<% } %>
	<% } %>
	</td>
</tr>
<tr class="data_<%=reservation_id._text%>">
	<td colspan="4"><b><%= event.event_name._text%></b> - <%= event.event_type_name._text %></td>
	<td colspan="8">
	<% if (event.role[0]) {%>
 	 	<b><%= event.role[0].role_name._text %></b>: <em><%= event.role[0].contact.contact_name._text %> -
		  <% try { %>
		  <%= event.role[0].contact.address.phone._text %>
		  <% } catch(e) {} %> </em>
	<% } else { %>
 	 	<span class="label label-warn"><em>No Event Manager Assigned</em></span>
	<% } %>
	&nbsp;

	<% if (event.role[1]) {%>
 	 	<b><%= event.role[1].role_name._text %></b>: <em><%= event.role[1].contact.contact_name._text %> -
		  <% try { %>
		  <%= event.role[1].contact.address.phone._text %>
		  <% } catch(e) {} %> </em>
	<% } else { %>
 	 	<span class="label label-warn"><em>No Requestor Assigned</em></span>
	<% } %>
	&nbsp;

	<% if (event.role[2]) {%>
 	 	<b><%= event.role[2].role_name._text %></b>: <em><%= event.role[2].contact.contact_name._text %> -
		  <% try { %>
		  <%= event.role[2].contact.address.phone._text %>
		  <% } catch(e) {} %> </em>
	<% } else { %>
 	 	<span class="label label-warn"><em>No AV Assigned</em></span>
	<% } %>
	&nbsp;

	<% if (event.role[3]) {%>
 	 	<b><%= event.role[3].role_name._text %></b>: <em><%= event.role[3].contact.contact_name._text %> -
		  <% try { %>
		  <%= event.role[2].contact.address.phone._text %>
		  <% } catch(e) {} %> </em>
	<% } else { %>
 	 	<span class="label label-warn"><em>No Event Lead Assigned</em></span>
	<% } %>
	</td>
</tr>

<tr class="data_<%=reservation_id._text%>"><td colspan="12">
<% if (resource_reservation) { %>
<table class="table table-bordered table-striped" style="width:100%;">
<tr>
	<td><h5>Qty</h5></td>
	<td colspan="5"><h5>Resource</h5></td>
	<td colspan="2"><h5>Instructions</h5></td>
</tr>
<% if (_.isArray(resource_reservation)) { %>
	<% _.each(resource_reservation, function(rs) { %>
	<tr>
		<td style="width:5%"><%= rs.resource_count._text %></td>
		<td colspan="5" style="width:25%"><%= rs.resource_name._text %></td>
		<td colspan="2"><%= rs.resource_instructions._text %></td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td style="width:5%"><%= resource_reservation.resource_count._text %></td>
		<td colspan="5" style="width:25%"><%= resource_reservation.resource_name._text %></td>
		<td colspan="2"><%= resource_reservation.resource_instructions._text %></td>
	</tr>
<% } %>
</table>
<% } %>

<table class="table table-bordered table-striped" style="width:100%;">
<tr>
	<th>To</th>
	<th>From</th>
	<th colspan="2">Title</th>
	<th colspan="5">Note</th>
	<th>Due</th>
</tr>
<% if (todos.todo) { %>
<% if (_.isArray(todos.todo)) { %>
	<% _.each(todos.todo, function(to) {
		var read = "This message has not be read.";
		var has_read = to.read._text;
		if (has_read == 'T') {
			read = "This message has been read.";
		}
	%>
	<tr>
		<td><%= to.cur_assigned_to._text %></td>
		<td><%= to.cur_assigned_by._text %></td>
		<td colspan="2"><%= to.todo_name._text %></td>
		<td colspan="5" style="width:35%" title="<%= read %>"><%= to.todo_description._text %></td>
		<td title="<%= current_state[to.cur_todo_state._text] %>"><%= moment(to.due_dt._text).format(DT_FORMAT)%></td>
	</tr>
	<% }); %>
<% } else {
	var read = "This message has not be read.";
	var has_read = todos.todo.read._text;
	if (has_read == 'T') {
		read = "This message has been read.";
	}
	%>
	<tr>
		<td><%= todos.todo.cur_assigned_to._text %></td>
		<td><%= todos.todo.cur_assigned_by._text %></td>
		<td colspan="2"><%= todos.todo.todo_name._text %></td>
		<td colspan="5" style="width:35%" title="<%= read %>"><%= todos.todo.todo_description._text %></td>
		<td title="<%= current_state[todos.todo.cur_todo_state._text] %>"><%= moment(todos.todo.due_dt._text).format(DT_FORMAT)%></td>
	</tr>
<% } %>
<% } %>
<tr id="todo-form-container-<%=reservation_id._text%>-<%=event.event_id._text%>">
	<td colspan="10">
	<input event_id="<%=event.event_id._text%>" rsrv_id="<%=reservation_id._text%>" type="button" id="addTodo-<%=reservation_id._text%>" class="btn btn-primary addTodo" value="Add Note"/>
	</td>
</tr>
</table>
<hr/>
</td></tr>
</script>

<script type="text/template" id="CollectionView">
<!--
/************************************/
/** Collection Container Template **/
/************************************/
-->
<div class="container-fluid">
<!-- current page side content -->
<% if (length != 0) { %>
<div class="row-fluid">
	<div class="span12">
	<h4><%= length %> Reservation(s) Found</h4>
	</div>
</div>

<div class="row-fluid">
<table id="items" class="table table-bordered table-striped" style="border-collapse:collapse;width:100%;">

</table>
</div>
<% } else { %>
<div class="row-fluid">
	<div class="span12">
	<h4>No Reservations Found.</h4>
	</div>
</div>
<% } %>
</script>

<!--
/************************************/
/**	  Setup Dialog Template	    **/
/************************************/
-->
<script type="text/template" id="SetupModal">
<div id="Setup" class="modal hide fade">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Worksheet Setup</h3>
</div>
<div class="modal-body">
<fieldset class="form-stacked">

<div class="clearfix">
<div class="input">
	<label for="space_query_id">Space Search Selection:</label>
	<select id="space_query_id" name="space_query_id" class="span4">
		<option value="211911" <% if (space_query_id) { %><% if (space_query_id == 211911) {%>selected<% } }%>>SPOMECS Major Event Spaces</option>
		<option value="228997" <% if (space_query_id) { %><% if (space_query_id == 228997) {%>selected<% } }%>>All UC Spaces</option>
	</select>
</div>
</div>


<div class="input">
	<input type="hidden" name="space_query_id" value="211911" />
	<label for="start_dt">Start Date <%= moment(start_dt).format(DT_FORMAT) %>:</label>
	<input type="text" name="start_dt" id="start_dt" class="span4" value="<% if (start_dt) {%><%= moment(start_dt).format(DT_FORMAT) %><%}%>" />
</div>

</fieldset>
</div>
<div class="modal-footer">
	<span class="btn-spin"><div class="activity" style="z-index:9000;"></div></span>
	<input type="button" id="generate" href="" class="btn btn-primary" value="Generate Report"/>
	<input type="button" id="closeSetup" href="" class="btn" value="Close"/>
</div>
</div>
</script>

<!--
/************************************/
/**		 Note Modal Template	   **/
/************************************/
We need to capture these five pieces of info:
	- due_date: Date in the format of yyyy-mm-dd
	- assigned_to: numeric R2WS contact_id
	- assigned_by: numeric R25WS contact_id
	- object_id: numeric R25WS reservation_id (hidden)
	- comment: text - Text comment
-->
<script type="text/template" id="TodoModal">
<%
var user_info = window.UserInfo.toJSON();
%>
<form id="TodoForm">
<input type="hidden" name="event_id" id="event_id" value="<%= event_id %>" />
<input type="hidden" name="rsrv_id" id="rsrv_id" value="<%= rsrv_id %>" />
<input type="hidden" name="start_dt" id="start_dt" value="<%= start_dt %>" />
<input type="hidden" name="assigned_by_id" value="<%= user_info['user_id'] %>" />

<td>
	<input id="assigned_to" name="assigned_to" class="required typeahead" />
	<input type="hidden" id="assigned_to_id" name="assigned_to_id" value="" />
  </td>
  <td><%= user_info["name"] %></td>
  <td colspan="2">SPOMECS Review</td>
  <td colspan="5">
	<textarea id="comment" name="comment" class="required" class="span5"></textarea>
	<span class="btn-spin"><div class="activity" style="z-index:9000;"></div></span>
	<input type="button" id="saveTodo" href="" class="btn btn-primary" value="Add Note"/>
</td>
  <td>
	<input type="text" name="due_dt" id="due_dt" class="required" value="<% if (due_dt) { %><%= due_dt %><% } %>" />
  </td>
</form>
</script>

<script src="js/libs/modernizr-2.6.2.js"></script>
<script src="js/libs/jquery-1.9.1.js"></script>
<script src="js/libs/spin.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/jquery.spin.js"></script>
<script src="js/libs/jquery.validate.js"></script>
<script src="js/libs/bootstrap/bootstrap-typeahead-2.3.1.js"></script>
<script src="js/libs/bootstrap/bootstrap-modal.js"></script>
<script src="js/libs/bootstrap/bootstrap-collapse.js"></script>
<script src="js/libs/bootstrap/bootstrap-button.js"></script>
<script src="js/libs/jquery-ui-1.10.1.custom.min.js"></script>
<!--
<script src="js/libs/backbone/lawnchair-0.6.1.js"></script>
-->
<script src="js/libs/backbone/json2.js"></script>
<script src="js/libs/backbone/lodash.min.js"></script>
<script src="js/libs/backbone/backbone-min.js"></script>
<script src="js/sync.js"></script>
<script src="js/model.js"></script>
<script src="js/views/setup.js"></script>
<script src="js/views/navdisplay.js"></script>
<script src="js/views/todo.js"></script>
<script src="js/views/dataset.js"></script>
<script src="js/views/updatingheader.js"></script>
<script src="js/views/updatingitem.js"></script>
<script src="js/views/updatingcollection.js"></script>
<script src="js/router.js"></script>
<script src="js/app.js"></script>
</body>
</html>
